doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
    body    
        div(class="container")
            h1 Add New Video Game
            a(href="/") Return to the homepage
            div(class="form-wrapper")
                form(method="POST" action="/update-cobj")
                    div
                        label(for="name") Name:
                        input(type="text" id="name" name="name" required)
                    div
                        label(for="publisher") Publisher:
                        input(type="text" id="publisher" name="publisher")
                    div
                        label(for="price") Price:
                        input(type="text" id="price" name="price")
                    button(type="submit") Submit
